<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virgin App</title>

    <!-- Custom fonts for this template-->
    <link href="    https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>

<body id="page-top">


<!-- Page Wrapper -->
<div id="app">
    <v-app>
        <v-layout row>
            <v-flex xs12 sm10 offset-sm1>
                <v-toolbar color="teal" dark>
                    <v-toolbar-side-icon></v-toolbar-side-icon>

                    <v-toolbar-title class="text-xs-center">{{view}}'s view</v-toolbar-title>

                    <v-spacer></v-spacer>


                    <v-toolbar-items>
                        <v-btn flat @click="view='consumer'">Consumer</v-btn>
                        <v-btn flat @click="view='producer'">Producer</v-btn>
                        <v-btn flat @click="view='bank'">Bank</v-btn>
                    </v-toolbar-items>
                    <v-btn icon>
                        <v-icon>search</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card>

                    <v-container v-if="view==='consumer'">
                        <v-container>
                            <h3>Profile View </h3>
                            <v-card
                                    class="mx-auto text-xs-center"
                                    color="green"
                                    dark
                                    max-width="800"
                            >
                                <v-card>
                                    <v-layout>
                                        <v-flex xs6>
                                            <v-layout align-center justify-center column fill-height>

                                                <v-avatar size="120">
                                                    <img :src="users[0].avatar">
                                                </v-avatar>
                                                <h2>{{users[0].user_name}}</h2>
                                            </v-layout>

                                        </v-flex>
                                        <v-flex xs5>
                                            <v-list>
                                            <span v-for="text in [
                    ['Balance: \t', String(users[0].balance_total), users[0].balance_total_new],
                    ['Credit Score: ', users[0].rating],
                    ['Month Consumption:', '500' + ' Wh']
                  ]">

                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    {{text[0]}}
                                                </v-list-tile-content>
                                                <v-badge overlap big color="green">
                                            <template v-slot:badge v-if="text[2]">
                                                <span style="font-size: 10px">+{{text[2]}}</span>
                                            </template>
                                            <v-list-tile-action>
                                                    {{text[1]}}

                                                </v-list-tile-action>
                                        </v-badge>


                                            </v-list-tile>
                                                 <v-divider></v-divider>
                                            </span>                                       </span>


                                            </v-list>


                                            <span></span>
                                        </v-flex>
                                    </v-layout>
                                </v-card>


                            </v-card>
                            <v-divider></v-divider>
                        </v-container>
                        <v-container>
                            <h3>Messages Overview</h3>
                            <v-data-table
                                    :headers="headers_messages"
                                    rowsPerPage=15

                                    :items="messages"
                                    class="elevation-1"
                            >
                                <template v-slot:items="props">

                                    <td class="text-xs-left">
                                        {{ props.item.id }}
                                    </td>
                                    <td class="text-xs-left">
                                        {{ props.item.message }}
                                    </td>
                                    <td class="text-xs-left">
                                        {{ props.item.fromNumber }}
                                    </td>

                                    <td class="text-xs-left">
                                        <v-flex row>
                                            <a :href="props.item.block_link">
                                                <v-badge right overlap big color="green">
                                                    <template v-slot:badge v-if="props.item.rating_plus>0">
                                                        <span style="font-size: 10px">+{{props.item.rating_plus}}</span>
                                                    </template>
                                                    <v-btn @click="props.item.block_link" small color="white darken-1">
                                                        open block in chain
                                                    </v-btn>
                                                </v-badge>
                                            </a>
                                        </v-flex>
                                    </td>


                                </template>
                            </v-data-table>
                            <v-divider></v-divider>
                        </v-container>
                        <v-container>
                            <h3>Rating development</h3>
                            <v-card
                                    class="mx-auto text-xs-center"
                                    color="green"
                                    dark

                            >
                                <v-card-text>
                                    <v-sheet color="rgba(0, 0, 0, .12)">
                                        <v-sparkline
                                                :value="rating_history"
                                                color="rgba(255, 255, 255, .7)"
                                                height="100"
                                                padding="24"
                                                stroke-linecap="round"
                                                smooth
                                        >
                                            <template v-slot:label="item" v-if="false">
                                                ${{ item.value }}
                                            </template>
                                        </v-sparkline>
                                    </v-sheet>
                                </v-card-text>


                            </v-card>
                            <v-divider></v-divider>
                        </v-container>
                    </v-container>
                    <!--Producer View-->
                    <v-container v-if="view==='producer'">
                        <v-container>
                            <h3>Profile View </h3>
                            <v-card
                                    class="mx-auto text-xs-center"
                                    color="green"
                                    dark
                                    max-width="800"
                            >
                                <v-card>
                                    <v-layout>
                                        <v-flex xs6>
                                            <v-layout align-center justify-center column fill-height>

                                                <v-avatar size="120">
                                                    <img :src="producer[0].avatar">
                                                </v-avatar>
                                                <h2>{{producer[0].user_name}}</h2>
                                            </v-layout>

                                        </v-flex>
                                        <v-flex xs5>
                                            <v-list>
                                            <span v-for="text in [
                    ['Credit Score: ', String(users[0].balance_total), Math.round(users[0].balance_total_new/10)],
                    ['Loans: ', '70k EUR', -users[0].balance_total_new/2],
                    ['Balance: ', '5k EUR', +users[0].balance_total_new/2],
                    ['Month Production:', '100' + ' kWh']
                  ]">

                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    {{text[0]}}
                                                </v-list-tile-content>
                                                <v-badge overlap big color="green">
                                            <template v-slot:badge v-if="text[2]">
                                                <span style="font-size: 10px">{{Math.round(text[2])}}</span>
                                            </template>
                                            <v-list-tile-action>
                                                    {{text[1]}}

                                                </v-list-tile-action>
                                        </v-badge>


                                            </v-list-tile>
                                                 <v-divider></v-divider>
                                            </span>                                       </span>


                                            </v-list>


                                            <span></span>
                                        </v-flex>
                                    </v-layout>
                                </v-card>


                            </v-card>
                            <v-divider></v-divider>
                        </v-container>
                        <v-container>
                            <h3>Customers Overview</h3>
                            <v-data-table
                                    :headers="headers_user"
                                    :items="users"
                                    class="elevation-1"
                            >
                                <template v-slot:items="props">
                                    <td>
                                        <v-avatar size="36">
                                            <img :src="props.item.avatar">
                                        </v-avatar>
                                    </td>
                                    <td>
                                        {{ props.item.user_name }}
                                    </td>
                                    <td class="text-xs-left">
                                        <v-flex row>

                                            {{props.item.avg_consumption}}

                                    </td>
                                    <td class="text-xs-left">
                                        <v-flex row>
                                            <v-badge right overlap big color="green">
                                                <template v-slot:badge v-if="props.item.rating_plus>0">
                                                    <span style="font-size: 10px">+{{props.item.rating_plus}}</span>
                                                </template>
                                                <v-btn small color="white darken-1">
                                                    {{props.item.rating}}
                                                </v-btn>
                                            </v-badge>
                                        </v-flex>
                                    </td>

                                    <td class="text-xs-left">
                                        <v-flex row>
                                            <v-badge right overlap big color="green">
                                                <template v-slot:badge v-if="props.item.balance_total_new>0">
                                                    <span style="font-size: 10px">+{{props.item.balance_total_new}}</span>
                                                </template>
                                                <v-btn small color="white darken-1">
                                                    {{props.item.balance_total}}
                                                </v-btn>
                                            </v-badge>
                                        </v-flex>
                                    </td>

                                </template>
                            </v-data-table>
                            <v-divider></v-divider>
                        </v-container>
                        <v-container>
                            <h3>Rating development</h3>
                            <v-card
                                    class="mx-auto text-xs-center"
                                    color="green"
                                    dark

                            >
                                <v-card-text>
                                    <v-sheet color="rgba(0, 0, 0, .12)">
                                        <v-sparkline
                                                :value="rating_history"
                                                color="rgba(255, 255, 255, .7)"
                                                height="100"
                                                padding="24"
                                                stroke-linecap="round"
                                                smooth
                                        >
                                            <template v-slot:label="item" v-if="false">
                                                ${{ item.value }}
                                            </template>
                                        </v-sparkline>
                                    </v-sheet>
                                </v-card-text>


                            </v-card>
                            <v-divider></v-divider>
                        </v-container>
                    </v-container>
                    <!--Bank View-->
                    <v-container v-if="view==='bank'">
                        <v-container>
                            <h3>Profile View </h3>
                            <v-card
                                    class="mx-auto text-xs-center"
                                    color="green"
                                    dark
                                    max-width="800"
                            >
                                <v-card>
                                    <v-layout>
                                        <v-flex xs6>
                                            <v-layout align-center justify-center column fill-height>

                                                <v-avatar size="120">
                                                    <img :src="bank[0].avatar">
                                                </v-avatar>
                                                <h2>{{bank[0].user_name}}</h2>
                                            </v-layout>

                                        </v-flex>
                                        <v-flex xs5>
                                            <v-list>
                                                <v-subheader>
                                                    Investment Portfolio
                                                </v-subheader>
                                                <span v-for="text in [
                    ['Portfolio Value: \t', '15,00 MIO EUR'],
                    ['Avg. Risk: ', 'BBB+', Math.round(users[0].balance_total_new/100)],
                    ['Available Funds:', '925,00' + ' TSD EUR',Math.round(users[0].balance_total_new/2)],
                    ['Defaulted Payments:', '2,30' + 'TSD EUR']
                  ]">

                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    {{text[0]}}
                                                </v-list-tile-content>
                                                <v-badge big color="green">
                                            <template v-slot:badge v-if="text[2]">
                                                <span style="font-size: 10px">+{{text[2]}}</span>
                                            </template>
                                            <v-list-tile-action>
                                                    {{text[1]}}

                                                </v-list-tile-action>
                                        </v-badge>


                                            </v-list-tile>
                                                 <v-divider></v-divider>
                                            </span>                                       </span>


                                            </v-list>


                                            <span></span>
                                        </v-flex>
                                    </v-layout>
                                </v-card>


                            </v-card>
                            <v-divider></v-divider>
                        </v-container>
                        <v-container>
                            <h3>Rating development</h3>
                            <v-card
                                    class="mx-auto text-xs-center"
                                    color="green"
                                    dark

                            >
                                <v-card-text>
                                    <v-sheet color="rgba(0, 0, 0, .12)">
                                        <v-sparkline
                                                :value="rating_history"
                                                color="rgba(255, 255, 255, .7)"
                                                height="100"
                                                padding="24"
                                                stroke-linecap="round"
                                                smooth
                                        >
                                            <template v-slot:label="item" v-if="false">
                                                ${{ item.value }}
                                            </template>
                                        </v-sparkline>
                                    </v-sheet>
                                </v-card-text>


                            </v-card>
                            <v-divider></v-divider>
                        </v-container>
                        <v-container>
                            <h3>Transaction History</h3>
                            <v-data-table
                                    :headers="headers_transactions"
                                    :items="trans_history"
                                    class="elevation-1"
                            >
                                <template v-slot:items="props">

                                    <td>
                                        {{ props.item.phone_number }}
                                    </td>
                                    <td class="text-xs-left">
                                        {{props.item.value}}
                                    </td>
                                    <td class="text-xs-left">
                                        {{props.item.time}}
                                    </td>
                                </template>
                            </v-data-table>
                            <v-divider></v-divider>
                        </v-container>

                        <v-container>
                            <h3>Customers Overview</h3>
                            <v-data-table
                                    :headers="headers_user"
                                    :items="users"
                                    class="elevation-1"
                            >
                                <template v-slot:items="props">
                                    <td>
                                        <v-avatar size="36">
                                            <img :src="props.item.avatar">
                                        </v-avatar>
                                    </td>
                                    <td>
                                        {{ props.item.user_name }}
                                    </td>
                                    <td class="text-xs-left">
                                        <v-flex row>
                                            <v-badge right overlap big color="green">
                                                <template v-slot:badge v-if="props.item.rating_plus>0">
                                                    <span style="font-size: 10px">+{{props.item.rating_plus}}</span>
                                                </template>
                                                <v-btn small color="white darken-1">
                                                    {{props.item.rating}}
                                                </v-btn>
                                            </v-badge>
                                        </v-flex>
                                    </td>
                                    <td class="text-xs-left">
                                        <v-flex row>
                                            <v-badge right overlap big color="green">
                                                <template v-slot:badge v-if="props.item.balance_total_new>0">
                                                    <span style="font-size: 10px">+{{props.item.balance_total_new}}</span>
                                                </template>
                                                <v-btn small color="white darken-1">
                                                    {{props.item.balance_total}}
                                                </v-btn>
                                            </v-badge>
                                        </v-flex>
                                    </td>

                                </template>
                            </v-data-table>
                            <v-divider></v-divider>

                        </v-container>
                        <v-container>
                            <h3>Messages Overview</h3>
                            <v-data-table
                                    :headers="headers_messages"
                                    rowsPerPage=15

                                    :items="messages"
                                    class="elevation-1"
                            >
                                <template v-slot:items="props">

                                    <td class="text-xs-left">
                                        {{ props.item.id }}
                                    </td>
                                    <td class="text-xs-left">
                                        {{ props.item.message }}
                                    </td>
                                    <td class="text-xs-left">
                                        {{ props.item.fromNumber }}
                                    </td>

                                    <td class="text-xs-left">
                                        <v-flex row>
                                            <a :href="props.item.block_link">
                                                <v-badge right overlap big color="green">
                                                    <template v-slot:badge v-if="props.item.rating_plus>0">
                                                        <span style="font-size: 10px">+{{props.item.rating_plus}}</span>
                                                    </template>
                                                    <v-btn @click="props.item.block_link" small color="white darken-1">
                                                        open block in chain
                                                    </v-btn>
                                                </v-badge>
                                            </a>
                                        </v-flex>
                                    </td>


                                </template>
                            </v-data-table>
                            <v-divider></v-divider>
                        </v-container>
                    </v-container>


                </v-card>
            </v-flex>
        </v-layout>
    </v-app>
</div>


</body>
<script src="./dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./dist/vuetify.js"></script>
<script>

  axios.defaults.headers.post = {
    'Access-Control-Allow-Origin': 'energyhack-team-microfinance.vanautrui.org',
    'Content-Type': 'application/json',
  };
  axios.defaults.baseURL = 'http://energyhack-team-microfinance.vanautrui.org/api/';


  axios.defaults.validateStatus = function (status) {
    if (status == 401) {
      user_account.request_login();
    }
    return status >= 200 && status < 300; // default
  };

  var get_user_balance = axios.create({
    url: 'balance.php?username=consumer1',
    method: 'GET',
    strictSSL: false,
  });
  var get_messages = axios.create({
    url: 'getMessages.php',
    method: 'GET',
    strictSSL: false,
  });


  var vue = new Vue({
    el: '#app',
    data() {
      return {
        headers_user: [
          {
            text: '',
            align: 'left',
            sortable: false,
            value: 'value'
          },
          {
            text: 'Name',
            value: 'user_name'
          },
          {
            text: 'avg consumption [Wh/month]',
            value: 'avg_consumption'
          },
          {
            text: 'Rating',
            value: 'rating'
          },
          {
            text: 'Balance',
            value: 'balance_total'
          },


        ],
        headers_transactions: [
          {
            text: 'Phone Number',
            align: 'left',
            sortable: false,
            value: 'phone_number'
          },
          {
            text: 'Amount',
            value: 'value'
          },
          {
            text: 'Time',
            value: 'time'
          }
        ],
        headers_messages: [
          {
            text: 'ID',
            align: 'left',
            sortable: false,
            value: 'id'
          },
          {
            text: 'Value in EUR',
            value: 'message'
          },
          {
            text: 'From phone number',
            value: 'fromNumber'
          },
          {
            text: 'Blockchain Link',
            value: 'block_link'
          }
        ],
        view: 'bank',
        value: [
          423,
          446,
          675,
          510,
          590,
          610,
          760
        ],
        users: [
          {
            user_name: 'Kojo Sarfo',
            balance_total: 49,
            balance_total_new: this.user_balance_new - 49,
            rating: "A",
            avatar: 'https://www.bushtheatre.co.uk/wp-content/uploads/2017/10/AdelajaDamolaSquare.jpg',
            producer: 1,
            avg_consumption: 100,
          },
          {
            avg_consumption: 4000,

            user_name: 'Efia Hussein',
            avatar: 'https://insightcced.org/wp-content/uploads/2018/05/Nwamaka-square-3.jpg',
            balance_total: 100,
            rating: 'AAA',
            producer: 1
          },
          {
            avg_consumption: 56,

            user_name: 'Kofi Darko',
            balance_total: 99,
            avatar: 'https://www.centralsquaretheater.org/wp-content/uploads/2018/12/Bobby-copy-377x367.jpg',
            rating: "BB",
            producer: 1
          },
          {
            avg_consumption: 120,

            user_name: 'Adebayo olusegun',
            balance_total: 34,
            avatar: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-T96CtkTHj_7c-VSqXKjRFteiE1S9EkhKJYDlAj9i6eu682OtuQ',
            rating: "C",
            producer: 1
          }
        ],


        producer: [
          {
            user_name: 'Solomon Bafour',
            balance_total: 99,
            avatar: 'https://randburgsun.co.za/wp-content/uploads/sites/9/2018/05/PeterPaulNgwenya-395x400.jpg',
            rating: "BB",
            id: 1,
            avg_production:100
          },
          {
            user_name: 'Cindy Appiah',
            balance_total: 34,
            avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
            rating: "C",
            avg_production:100,
            id: 2,
          }
        ],
        bank: [
          {
            user_name: 'Ecobank',
            balance_total: 34,
            avatar: 'https://cdn1.i-scmp.com/sites/default/files/styles/768x768/public/2015/07/10/508f424687911c969b1992918ba027a0.jpg?itok=x6wPUWOn',
            rating: "C",
            id: 2,
          }
        ],
        trans_history: [
          {
            phone_number: '+491577',
            value: 100,
            time: '2019-03-03',
          },
          {
            phone_number: "test",

            value: 100,
            time: '2019-02-03',
          },
          {
            phone_number: '+491577',

            value: 100,
            time: '2019-01-03',
          },

        ],
        rating_history: [
          {
            value: 100,
            time: '2019-03-03',
          },
          {

            value: 90,
            time: '2019-02-03',
          },
          {

            value: 80,
            time: '2019-01-03',
          },
          {
            value: 85,
            time: '2019-15-03',
          },
          {

            value: 30,
            time: '2019-15-02',
          },

        ],
        messages: [],
        last_message: {},
      }
    },
    watch: {
      user_balance_new: function (val) {
        this.user_balance_new = val + ' ' + this.lastName
      }
    },
    methods: {
      filter_messages: function (messages) {
        let clean_messages = [];
        for (let i = 0; i < messages.length; i++) {
          let x = messages[i];
          if (x.block_link && x.block_link.includes('factom')) {
            clean_messages.push(x);
          }
        }
        this.messages = clean_messages;
      }
    }
  });
  get_user_balance({})
      .then(function (response) {
        // handle success
        vue.users[0].balance_total_new = Number(response.data.data.user.balance) - vue.users[0].balance_total;
        vue.users[0].balance_total = Number(response.data.data.user.balance)
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      });
  get_messages({})
      .then(function (response) {
        // handle success
        vue.messages = Array(response.data.data.user)[0];
        console.log('All messages', vue.messages);
        console.log('One Message', vue.messages[vue.messages.length - 1]);

        vue.filter_messages(vue.messages);
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      });


</script>
</html>