<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virgin App</title>

    <!-- Custom fonts for this template-->
    <link href="    https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="app">
    <v-app>
        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                    <v-toolbar color="teal" dark>
                        <v-toolbar-side-icon></v-toolbar-side-icon>

                        <v-toolbar-title class="text-xs-center">New Chat</v-toolbar-title>

                        <v-spacer></v-spacer>

                        <v-btn icon>
                            <v-icon>search</v-icon>
                        </v-btn>
                        <v-toolbar-items class="hidden-sm-and-down">
                            <v-btn flat>Link One</v-btn>
                            <v-btn flat>Link Two</v-btn>
                            <v-btn flat>Link Three</v-btn>
                        </v-toolbar-items>
                    </v-toolbar>

                    <v-list subheader>
                        <v-subheader>Recent chat</v-subheader>
                        <v-list-tile
                                v-for="user in users"
                                :key="user.user_name"
                                avatar
                                @click=""
                        >
                            <v-list-tile-avatar>
                                <img :src="user.avatar">
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title v-html="user.user_name"></v-list-tile-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-flex row>

                                    <v-badge right overlap big color="red">
                                        <template v-slot:badge v-if="user.balance_total_new>0">
                                            <span style="font-size: 12px">+{{user.balance_total_new}}</span>
                                        </template>
                                        <v-btn small color="white darken-1">
                                            {{user.balance_total}}
                                        </v-btn>
                                    </v-badge>

                                </v-flex>

                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>

                    <v-divider></v-divider>


                </v-card>
            </v-flex>
        </v-layout>
    </v-app>
</div>


</body>
<script src="./dist/vue.js"></script>
<script src="./dist/vuetify.js"></script>
<script>
  var vue = new Vue({
    el: '#app',
    data() {
      return {
        users: [
          {
            user_name: 'Jason Oner', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            balance_total: 100,
            balance_total_new: 10,
          },
          {
            user_name: 'Ranee Carlson',
            balance_total: 99,
            avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg'
          },
          {
            user_name: 'Cindy Baker',
            balance_total: 34,
            avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg'
          },
          {
            user_name: 'Ali Connors',
            balance_total: 49,
            balance_total_new: 11,
            avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg'
          }
        ]
      }
    },
    methods: {
      update_balance: function () {

      }
    }
  });
</script>
</html>